/*.body-container {*/
/*    width: 100vw;*/
/*    padding: 20px;*/
/*}*/

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top:60px;
    width:93vw;
    z-index:0;

}
.content-light{
    background-color: #f6f6f6;
    border: 0.5px solid #dbdbdb;
}

.content-dark{
    background-color: #0f141a;
    border: 0.5px solid rgba(53, 76, 100, 0.41);
}

.form-button-group{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin:50px;
    gap:20px;
    align-items:center;
}
