
.footer-container {
    height: 200px;
    width: 100vw;
    padding:10px;
    z-index:2;

    margin-bottom:50px;
    margin-top:auto;
}

.footer-container-light{
    background-color: #f6f6f6;
    border-top: 0.5px solid #dbdbdb;
    border-bottom: 0.5px solid #dbdbdb;
}

.footer-container-dark{
    background-color: #161b22;
    border-top: 0.5px solid #1a1f25;
    border-bottom: 0.5px solid #1a1f25;
}

.texts{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.huji-text {
    color:#757b82;
    font-size: 28px;
}

.admin-text {
    color:#616871;
    font-size: 26px;
}

.rights-text{
    color:#757b82;
    font-size: 30px;
}

.huji-text a {
    font-weight: 700;
}

.huji-text-light a {
    color: #3799c1;
    font-weight: 700;
}

.huji-text-dark a {
    color: #58ad40;
    font-weight: 700;
}

.admin-text a {
    color: #a369cb;
    font-weight: 700;
}

