
.footer-container {
    height: 200px;
    width: 100vw;
    margin-top: auto;
    padding:10px;
}

.footer-container-light{
    background-color: #f5f5f5;
    border-top: 0.5px solid #ececec;
}

.footer-container-dark{
    background-color: #4f565e;
    border-top: 0.5px solid #6f7780;
}

.texts{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.huji-text {
    font-size: 28px;
}

.huji-text-light{
    color: #8c919a;
}

.huji-text-dark{
    color: #b8bcc4;
}

.admin-text {
    font-size: 26px;
}

.admin-text-light{
    color: #576170;
}

.admin-text-dark{
    color: #96a1b0;
}

.rights-text {
    font-size: 30px;
}

.rights-text-dark{
    color: #a2abb6;
}

.rights-text-light{
    color: #d4dbe3;
}

.huji-text a {
    font-weight: 700;
}

.huji-text-light a {
    color: #86b1d7;
    font-weight: 700;
}

.huji-text-dark a {
    color: #bdd8ef;
    font-weight: 700;
}

.admin-text a {
    color: #ba96da;
    font-weight: 700;
}

