.nav{
    width:100vw;
}

.nav-light{
    background-color:#f5f5f5;
}

.nav-dark{
    background-color: #465460;
}

.row{
    padding-bottom:20px;
    padding-top:20px;
    padding-left:40px;
    font-size:30px;
    display:flex;
    align-items: center;
}

.row:hover{
    background-color: #efefef5;
    border-left:8px solid #b189cb;
}

.row-light{
    border-bottom:0.5px solid #ececec;
    color:black;
}

.row-dark{
    border-bottom:0.5px solid #505050;
    color: #ececec;
}

.chosen{
    border-left:6px solid #89b985;
}