.nav {
    transition: all 0.5s ease-in-out;

    width:100vw;
}

.nav-light {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ececec;
}

.nav-dark {
    background-color: #0d1116;
    border-bottom: 1px solid #0c0e11;
}

.row {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.row-light {
    color: #61727f;
    border-bottom: 0.5px solid #ececec;
}

.row-light:hover {
    background-color: #eeeeee;
    border-left: 8px solid #3799c1;
}

.row-dark {
    color: #c9d1d9;
    border-bottom: 0.5px solid #0c0e11;
}

.row-dark:hover {
    background-color: #11171d;
    border-left: 8px solid #58ad40;
}

.chosen {
    border-left: 6px solid rgba(56, 72, 89, 0.56);
}