.header-container {
    align-items: center;
    width: 100%;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    padding: 10px 0;
    border-bottom: 0.5px solid rgba(53, 76, 100, 0.41);
    z-index: 2;
}

.header-container-light {
    background-color: #242f38;
}

.header-container-dark {
    background-color: #0f141a;
}

.dropdown-button {
    display: flex;
    align-items: center;

    border-radius: 50%;
    background-color: rgba(141, 165, 183, 0.25);
    color: #cbcbcb;
    border: none;
    padding: 7px;
    font-size: 15px;

    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    /*transition: background-color 0.5s ease-in-out;*/
}

.dropdown-button:hover {
    background-color: rgba(141, 165, 183, 0.4);
}

#title {
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -3.5px;

    text-shadow: -4px -4px 0 #000,
    0 -4px 0 #000,
    4px -4px 0 #000,
    4px 0 0 #000,
    4px 4px 0 #000,
    0 4px 0 #000,
    -4px 4px 0 #000,
    -4px 0 0 #000;

    font-size: 35px;
    margin-left: 1rem;
}


#header-buttons-container {
    margin-right: 15px;
    display: flex;
    margin-left: auto;
}

.header-buttons {
    color: white;
    background-color: transparent;
    border: none;
}

#button-mode:hover {
    border-radius: 50%;
    background-color: #b189cb;
}

#button-facebook:hover {
    border-radius: 50%;
    background-color: #3d69ac;
}

.button-center {
    vertical-align: middle;
    align-items: center;
    font-size: 35px;
}

.book-icon {
    display: flex;
    font-size: 40px;
    align-items: center;
    align-content: center;
    justify-items: center;
    border-radius: 50%;
    color: white;
    padding:7px;
}

.book-icon-dark {
    border: #319a36;
    background-color: #58ad40;
}

.book-icon-light {
    border: #2e83a5;
    background-color: #3aaecb;
}


.left-side-buttons {
    display: flex;
    gap: 1.3rem;
    align-items: center;
    margin-left: 1rem;
}

@media screen and (max-width: 420px) {
    .book-icon {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .dropdown-button {
        display: none;
    }
}
