
.header-container{
    background-color: rgb(54,56,63);
    width:100vw;
    height:110px;
    align-items:center;
    display:flex;
}

#dropdown-button{
    display:flex;
    align-items:center;

    border-radius: 50%;
    color: #b7b7b7;
    background-color: rgb(76, 78, 87);
    border:none;
    padding:10px;
    margin-left:25px;

    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

#dropdown-button:hover{
    color: #e1e1e1;
}